@model FaqTabs

<div class="hbhBrick faqs">
    <ul class="FAQTabs equalHeights">
        @if (Model.Faqs.Any())
        {
            var index = 0;
            foreach (var tab in Model.Faqs.FilteredItemsOfType<FaqsBlock>())
            {
                Html.RenderPartial("li", tab.Heading, new ViewDataDictionary { new KeyValuePair<string, object>("CssClass", index.Equals(0) ? "active" : string.Empty) });
                index++;
            }
        }
    </ul>

    @{ 
        if (Model.Faqs.Any())
        {
            var indexs = 0;
            foreach (var item in Model.Faqs.FilteredItemsOfType<FaqsBlock>())
            {
                Html.RenderPartial("~/Views/Blocks/FaqsBlock/FaqTabsItem.cshtml", item, new ViewDataDictionary { new KeyValuePair<string, object>("CssClass", indexs.Equals(0) ? "active" : string.Empty) });
                //Html.RenderContentData(item, true, GlobalSettings.RenderingTags.FaqTabsItem);
                indexs++;
            }
        }
    }


</div>
<script>
    $(document).ready(function () {
        var config = '/static/js/ccframework/config.js';
        require([config], function () {
            require(['faqs', 'calc']);
        });
    });
</script>
