@using EPiServer.Web.Mvc.Html

@model LogoCollectionBlock
<div class="hbhBrick html logoDescription">
    <br>
    @Html.PropertyFor(x => x.Description)
    <div class="logoLayout">
        @Html.PropertyFor(x => x.Heading)<br />


        @Html.PropertyFor(x => x.Logos,
        new
        {
            Tag = GlobalSettings.RenderingTags.LogoCollectionItem,
           

        })

    </div>
    @Html.PropertyFor(x => x.Disclaimer, "Paragraph", new { CssClass = "paragraph-font-size" })
</div>