.footnote {
    EditMenuName: Footnote;
}
a.hbhButton {
    EditMenuName: Button Link;
}

.centered {
    EditMenuName: Centered;
}

.smallTxt {
    EditMenuName: Small Text;
}

.indent {
    EditMenuName: Indent;
}

.noBorder {
    EditMenuName: No Border;
}