.richContent {
    width: 100%;
    color: #fff;
    font-family: "Helvetica Neue",myriad-pro,myriad pro,Helvetica,Arial,sans-serif;
}

.richContent__background {
    width: 100%;
    background: -moz-linear-gradient(315deg, rgba(74,181,174,1) 0%, rgba(48,123,187,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(74,181,174,1)), color-stop(100%, rgba(48,123,187,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(315deg, rgba(74,181,174,1) 0%, rgba(48,123,187,1) 100%); /* safari5.1+,chrome10+ */
    background: -ms-linear-gradient(315deg, rgba(74,181,174,1) 0%, rgba(48,123,187,1) 100%); /* ie10+ */
    background: linear-gradient(135deg, rgba(74,181,174,1) 0%, rgba(48,123,187,1) 100%);
}

.richContent__mainImage {
    display: inline-block;
    max-width: 40%;
    vertical-align: top;
}

.richContent__mainImage img {
    vertical-align: bottom;
}

.richContent__rightSection {
    display: inline-block;
    max-width: 512px;
    padding-left: 15px;
    vertical-align: top;
    padding-top: 45px;
}

.richContent--withImage .richContent__rightSection {
    padding-left: 0;
    margin-left: -20px;
}

.richContent__smallDescription {
    font-size: 17px;
    line-height: 23px;
    margin-top: 0;
}

.richContent__mainContent h3 {
    color: #fff;
    font-size: 17px;
    line-height: 23px;
}

.richContent .smallLegalNotice {
    font-size: 12px;
}

.richContent .checkboxList {
    font-size: 17px;
    line-height: 25px;
}

.checkboxList {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.checkboxList strong {
    color: #ffb819;
}

.checkboxList li {
    padding-bottom: 10px;
    position: relative;
    display: block;
    padding-left: 36px;
}

.checkboxList li:before {
    content: '';
    position: absolute;
    width: 33px;
    height: 26px;
    overflow: hidden;
    background: url("/static/widgets/HealthWellness/images/checkbox.png") no-repeat left top;
    left: 0;
    top: 0;
}

@media screen and (max-width: 1010px) {

    .richContent {
        color: #444;
        font-size: 21px;
        line-height: 28px;
        background-color: #f2f8fd;
    }

    .richContent__background {
        position: relative;
        background-position: top;
        background-size: contain;
        background: -moz-linear-gradient(0deg, rgba(91,184,166,1) 0%, rgba(91,184,166,1) 1%, rgba(49,104,176,1) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(91,184,166,1)), color-stop(1%, rgba(91,184,166,1)), color-stop(100%, rgba(49,104,176,1))); /* safari4+,chrome */
        background: -webkit-linear-gradient(0deg, rgba(91,184,166,1) 0%, rgba(91,184,166,1) 1%, rgba(49,104,176,1) 100%); /* safari5.1+,chrome10+ */
        background: -ms-linear-gradient(0deg, rgba(91,184,166,1) 0%, rgba(91,184,166,1) 1%, rgba(49,104,176,1) 100%); /* ie10+ */
        background: linear-gradient(90deg, rgba(91,184,166,1) 0%, rgba(91,184,166,1) 1%, rgba(49,104,176,1) 100%);
    }

    .richContent__mainImage {
        min-height: 160px;
        max-height: 42vw;
        overflow: hidden;
    }

    .richContent__topLogo {
        max-width: 55%;
        position: absolute;
        top: 40px;
        left: 40%;
    }

    .richContent--withImage .richContent__rightSection {
        margin-left: 0;
    }

    .richContent__rightSection {
        background-color: #f2f8fd;
        max-width: 100%;
    }

    .richContent__smallDescription {
        text-align: center;
        width: 100%;
        padding: 0 25px;
        font-size: 21px;
        line-height: 28px;
        margin-top: -10px;
    }

    .richContent__mainContent {
        padding: 0 25px;
    }

    .richContent__mainContent h3 {
        font-size: 21px;
        line-height: 28px;
        color: #444;
        font-weight: bold;
    }

    .richContent .checkboxList {
        font-size: 21px;
        line-height: 28px;
    }

    .checkboxList li:before {
        content: '';
        width: 34px;
        background: url("/static/widgets/HealthWellness/images/ccd-checkbox.png") no-repeat left top;
    }

    .checkboxList strong {
        color: #1A75CF;
    }

    .checkboxList li {
        padding-bottom: 15px;
        padding-left: 38px;
    }

    .richContent .smallLegalNotice {
        font-size: 14px;
        margin-top: 10px;
        padding-bottom: 20px;
        line-height: 20px;
    }
}