.stickyHeader {
    height: 79px;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 0;
    background: -moz-linear-gradient(0deg, rgba(44,188,182,1) 0%, rgba(2,128,196,1) 100%); /* ff3.6+ */
    background: -webkit-linear-gradient(0deg, rgba(44,188,182,1) 0%, rgba(2,128,196,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(44,188,182,1) 0%, rgba(2,128,196,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(44,188,182,1) 0%, rgba(2,128,196,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(44,188,182,1) 0%, rgba(2,128,196,1) 100%); /* w3c */
}

.stickyHeader.__stickied {
    position: fixed;
    top: 49px;
} 

.stickyHeader__logo {
    display: inline-block;
    padding: 4px 18px 4px 4px;
    max-width: 33%;
    vertical-align: middle;
}

.stickyHeader__text {
    display: inline-block;
    font-size: 32px;
    color: #fff;
    vertical-align: middle;
    width: 33%;
    text-align: center;
}

.stickyHeader__text p {
    margin: 0;
}

.stickyHeader__text strong {
    color: #ffb819;
}

.stickyHeader__calendar {
    display: inline-block;
    text-align: left;
    padding: 4px 4px 4px 10px;
    vertical-align: middle;
    width: 33%;
}

.stickyHeader__calendar .atc-style-blue .atcb-link {
    padding: 5px 12px;
    color: #000;
    font-family: "Helvetica Neue",myriad-pro,myriad pro,Helvetica,Arial,sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 27px;
    background-color: #FFB718;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.stickyHeader__calendar .atc-style-blue .atcb-link:hover,
.stickyHeader__calendar .atc-style-blue .atcb-link:active,
.stickyHeader__calendar .atc-style-blue .atcb-link:focus {
    padding: 5px 12px;
    font-family: "Helvetica Neue",myriad-pro,myriad pro,Helvetica,Arial,sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 27px;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -ms-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

@media screen and (max-width: 1010px) {

    .stickyHeader__text {
        line-height: 28px;
    }

    .stickyHeader__calendar {
        line-height: 79px;
    }

    .stickyHeader__calendar .atc-style-blue .atcb-link,
    .stickyHeader__calendar .atc-style-blue .atcb-link:hover,
    .stickyHeader__calendar .atc-style-blue .atcb-link:active,
    .stickyHeader__calendar .atc-style-blue .atcb-link:focus {
        font-size: 14px;
    }

    .stickyHeader.__stickied {
        top: 0;
    }
}

@media screen and (max-width: 600px) {

    .stickyHeader__calendar .atc-style-blue .atcb-link,
    .stickyHeader__calendar .atc-style-blue .atcb-link:hover,
    .stickyHeader__calendar .atc-style-blue .atcb-link:active,
    .stickyHeader__calendar .atc-style-blue .atcb-link:focus {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 500px) {

    .stickyHeader__calendar .atc-style-blue .atcb-link,
    .stickyHeader__calendar .atc-style-blue .atcb-link:hover,
    .stickyHeader__calendar .atc-style-blue .atcb-link:active,
    .stickyHeader__calendar .atc-style-blue .atcb-link:focus {
        font-size: 10px;
        line-height: 18px;
    }
}