.ccContent {
	footer{
		.menuOpener { display: none; }

		.hbhDisclaimer {
			border-top: 2px solid #f2f2f3;
			clear: both;
			padding: 10px 20px;
			color: #999;
			font-size: 13px;
			font-family: MyriadProLight;
		}
	}
}