
@{
    Layout = "~/Areas/MVC/Views/Shared/Layouts/_MyLayout.cshtml";
    ViewBag.Title = "About us";
}





    <meta name="viewport" content="width=device-width" />
   
     

    <div> 
       <h3>Hi, here you can find something about us: </h3>
       <ul class="about">
           <li>Country: Romania </li>
           <li>Adress: Cluj, Plopilor 63 </li>
           <li>Phone: 666666666</li>
           <li>Email: test@test.com</li>
       </ul>
    </div>


