<div class="alert-warning mt-4 " >
    <p>This site uses cookies. Do you want to allow it? </p>

    <button class="btn-outline-success" onclick="setCookie('mycookie', 'adidas', '1')">Yes</button>
    <button class="btn-outline-danger" onclick="clearCookie('mycookie')">No</button>

</div>