@model IEnumerable < Episerver_React.Models.Product >
@{
    var message = TempData["EMPTY"];
    Layout = "~/Views/Shared/Layouts/_MyLayout.cshtml";
    ViewBag.Title = "Home";
}

<title>Episerver MVC</title>
<div>
    <h3>Welcome to our site</h3>
    <p>
        Profundum credendum summopere sap lus inspiciam confirmet.
        An imbecillia labefactat co incidissem im. Exhibetur inscitiae concilium
        ii at mo. Cupientem praeditis ii quocunque archimede procedere at ac.
        Mem firmae exigui nondum rea contra tam hoc nomine. Ii ut vultum ausint
        vereor ac. Ulla male suam sine ante uti meam
        nec sum. Foco ab ob im sane fore de nova tale.
    </p>

    
    <h4 style="color:darkred">@message</h4>

    <div id="products-table">
        <h4 style="color:darkred">@ViewBag.Message</h4>
        <div class="products-container">

            @{
                if (Model.Count() > 3)
                {
                    if (Model.Count() >= ViewBag.ItemsOnPage)
                    {
                        for (int i = 0; i < ViewBag.ItemsOnPage - 1; i += 3)

                        {
                            <div class="row align-content-around">
                                @{
                                    int j = 0;

                                    for (; j < 3 && i + j < ViewBag.ItemsOnPage; j++)
                                    {

                                        Html.RenderPartial("~/Views/Shared/Partial/_ProductBlock.cshtml", Model.ToArray()[i + j]);
                                    }
                                }
                            </div>
                        }
                    }
                    else
                    {
                        for (int i = 0; i < Model.Count() - 1; i += 3)

                        {
                            <div class="row align-content-around">
                                @{
                                    int j = 0;

                                    for (; j < 3 && i + j < Model.Count(); j++)
                                    {

                                        Html.RenderPartial("~/Views/Shared/Partial/_ProductBlock.cshtml", Model.ToArray()[i + j]);
                                    }
                                }
                            </div>
                        }
                    }

                }
                else
                {
                    <div class="row align-content-around">
                        @foreach (var item in Model)
                        {
                            Html.RenderPartial("~/Views/Shared/Partial/_ProductBlock.cshtml", item);
                        }
                    </div>
                }

            }


        </div>
    </div>

</div>



