

.about 
{
    display: block;
    list-style-type:none;
    font-size:15px;
}

.about li
{
    margin-top: 10px;
}

table th 
{
    background-color:aliceblue;
    border-radius:10px;
    width: 20%;
    text-align:center;
    padding: 10px;
}

    .product-view h5 
    {
        margin-left: 5px;
    }

    
.product-view tr 
    {
        margin-left: 5px;
    }

table td
{
    padding: 8px;
}

.price{
    text-align:center;
    margin-bottom:0px!important;
}

.description{
    text-align: center;
    width:30%;
}

.options{
    background-color: white!important;
}

#products-table {
    padding: 30px;
  border-collapse:collapse;
   border-radius: 100px;
}

#products-table .product-search 
{
    
    margin-bottom:30px;
    background-color: rgba(143,188,143,0.2);
      
}

.space{
    background-color:white;
    height:20px;
}


.group{
    padding: 20px;
}

input{
    width:20%;
    font-size:20px;
}

#form0{
    width: 60%;
    margin-top:7px;
    margin-left:25%;
    float: none;
}

#create-product-button{
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-image {
    max-width: 350px;
    float: left;
    margin-right:30px;
}

.small-product-image{
    width:40px;
    height:40px;
}

.product-image-small-header{
    width:60px;
}

.product-display {
    padding:10px;
    
    
    background: #efefef;
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#ffffff 50%);
    
 }

.topnav .admin {
    background-color: darkred;
    float: right;
}

.products-table-admin{
    margin-left:10%;
    margin-left:10%;
}


.user-products tr {
    background-color: rgba(143,188,143,0.1);
    border-radius:10px;
    
}

.user-products a{
    text-decoration:none;
    color: black;
}


.products-container {
    width: 90%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
}

/*.products-container ul{
    margin: 0px;
    padding:0px;
}*/

    /*.products-container ul li {
        list-style: none;
        float: left;
        width: 20%;
        height: 300px;
        background: rgba(51, 51, 51, 0.2);
        margin: 40px 40px 0px;
        text-align: center;
        box-sizing: border-box;
        border: 2px solid rgba(51, 51, 51, 0.1);
    }*/

    .products-container .name:hover {
       opacity: 0.6;
    }

    .products-container .details:hover {
        opacity: 0.6;
    }

    .products-container h3 {
        font-size: 1.4rem;
    }

.products-container ul li img {
       max-width:200px;
       max-height:200px;
    }

 .products-container ul li .products-details:hover {
            opacity:0.6;
        }

 .products-container ul li a {
            text-decoration:none;
            color:black;
        }

    .products-container ul li .products-details {
        background-color: white;
        margin: 5px 5px 5px;
    }

    .products-container .price {
        color: #333;
        font-weight: bold;
        font-size: 1.5rem;
    }

.item-p {
    background-color: white;
    border: 2px solid rgba(51, 51, 51, 0.1);
    margin-right: 10px;
    margin-bottom:15px;
    min-height:100%;
}

.item-p .name{
    max-height:100%;
}

   