<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="" loadFromBin="false">
  <assemblies>
    <!-- The assembly containing the rest store needs to be added. -->
    <add assembly="Episerver-React" />
  </assemblies>
  <dojo>
    <paths>
      <add name="app" path="ClientResources/Scripts" />
    </paths>
  </dojo>
  <clientModule initializer="app.ModuleInitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
  <clientResources>
    <!-- Inject our custom Display Option selector -->
    <add name="epi-cms.widgets.base"
            path="~/ClientResources/Scripts/widget/DisplayOptionSelector.js"
            resourceType="Script"
      />
  </clientResources>
</module>