@model IEnumerable<Episerver_React.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/Layouts/_MyLayout.cshtml";
}




<div class="products-container">
    @{Html.RenderPartial("~/Views/Shared/Partial/_PageIndex.cshtml");}
    @{
        if (Model.Count() > 3)
        {
            for (int i = 0; i < ViewBag.ItemsOnPage - 1; i += 3)

            {
                <div class="row align-content-around">
                    @{
                        int j = 0;

                        for (; j < 3 && i + j < ViewBag.ItemsOnPage; j++)
                        {

                            Html.RenderPartial("~/Views/Shared/Partial/_ProductBlock.cshtml", Model.ToArray()[i + j]);
                        }
                    }
                </div>
            }
        }
        else
        {
                <div class="row align-content-around">
                    @foreach (var item in Model)
                    {
                    Html.RenderPartial("~/Views/Shared/Partial/_ProductBlock.cshtml", item);
                    }
                </div>
        }

    }


</div>