@model QuestionBlock

@if (Model != null)
{
<li class="faqItem">
    <span class="question">@Html.PropertyFor(m => m.Question)</span>

    <span class="answer long" style="">
        @Html.Raw(Model.Answer)        
        @Html.PropertyFor(m => m.CallToAction, new {
      Tag = GlobalSettings.RenderingTags.RegularCta,
      HasContainer = false,
      HasItemCOntainer = false})
    </span>


</li>
}
