@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/Layouts/_DefaultLayout.cshtml";
}
<head>
    @Styles.Render("~/Content/bootstrapCss")
    @Scripts.Render("~/bundles/jquery")
</head>
<div class="container mt-3">
    <p>This is the HomePage</p>
    <a href="~/PresentationPage/Index">Click here</a>

    @{
        Html.RenderPartial("~/Views/Shared/Partial/_CookieBanner.cshtml");
    }

</div>
@Scripts.Render("~/bundles/myscripts") 