//General tile styles
&.checklist {	
	text-align:center;
	h2 {
		color: color(blue);
		font-size: 30px;
		margin: 30px 0 10px;
		@incldue bp(medium) {
			font-size: 43px;
		}
	}
	.subtitle {
		font-size: 18px;
		font-family: MyriadProLight;
		padding: 0 20px;
		@incldue bp(medium) {
			font-size: 23px;
			padding: 0 100px;
		}
	}

	.lists {
		@extend %cf;
		max-width: 900px;
		margin: 30px auto 0;
		.list {
			text-align:left;
			display:block;
			float:left;
			padding:0 20px;
			width:50%;
			margin-bottom: 30px;
			@include bp(large) {
				width:33.33%;
			}
		}
		h3 {
			color: color(blue);
			font-size: 18px;
			margin-bottom: 10px;
		}
		ul { 
			padding:0;
			margin:0;
		}
		li { list-style-type: none; }
		label {
			padding-left: 18px;
			text-indent: -19px;
			display: block;
			a {
				font-family: MyriadPro;
				font-size:16px;
				color:color(black);
				&:hover { text-decoration:underline; }
			}
		}
		
	}
	.buttons { margin-bottom:30px; }
	.button { 
		margin: 0 20px 10px;
		padding: 10px;
		font-size: 18px;
		min-width: 160px;
		&.print { @include bp(xsmall,small) { display:none; } }
		&.coupons { @include color(blue, background); }
	}
}