@model RecipeSearchResultViewModel<ResultsPage>

<div class="recipe-item-holder clearfix" data-search="itemsHolder">
    @foreach (var item in Model.ResultPage.Items)
    {
        Html.RenderPartial("/Views/Pages/ResultsPage/_recipeSearchItem.cshtml", item);
    }
</div>
<input type="hidden" data-search="hasMorePages" value="@Model.ResultPage.HasMorePages.ToString()">