@model RecipeSearchResultViewModel<ResultsPage>

@Styles.Render("~/static/css/all-recipes.css")
@Html.PropertyFor(x => x.SiteSettings.MenuItem)
<div id="fullContainer">
    <div class="top-header-container">
        @Html.PropertyFor(x => x.CurrentPage.Heanding, "Paragraph", new { CssClass = "top-copy" })
        @Html.PropertyFor(x => x.CurrentPage.Description, "Paragraph", new { CssClass = "bottom-copy" })
    </div>

    <div id="allRecipeItems" class="recipe-item-all">
        <div class="recipe-item-holder clearfix" data-search="itemsHolder">
            @if (Model.ResultPage.Items.Count > 0)
            {
                foreach (var item in Model.ResultPage.Items)
                {
                    Html.RenderPartial("/Views/Shared/_recipeSearchItem.cshtml", item);
                }
            }
        </div>
    </div>
</div>
<div class="go-back">
    <div class="vert-align">Regresar</div>
</div>
