@model CallToActionCard

@{ 
    if (Model != null)
    {
<div class="hbhTile">
    @if (Model.Image != null)
    {
        @Html.PropertyFor(m => m.Image, "Image", new { CssClass = "bannerImg" })

    }
    @Html.PropertyFor(x => x.Heading, "HeadingThree")
    <div>
        @Html.PropertyFor(p => p.Description)
    </div>
    @Html.PropertyFor(a => a.CallToAction, "LinkItem")
</div>
    }
}
