@model CallToActionCard

@if (Model != null)
{
    <li class="faqItem">
        <span class="question">@Html.PropertyFor(m => m.Heading)</span>

        <span class="answer long" style="">@Html.PropertyFor(m => m.Description)</span>
    </li>
}
